*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimoni{
    height: 75vh;
    background-color: #BDB395;
    padding: 1rem;
    margin-top: 2rem;
}
.testimoni .judul{
    font-size: 4rem;
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #F6F0F0;
    text-align: center;
}
.testimoni .j1{
    font-size: 1.2rem;
    font-family: "Big Shoulders", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #F6F0F0;
    text-align: center;
    margin-bottom: 2rem;
}

/* Card-Slide */
.pesan{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.container .card-content{
    display: flex;
    padding: 5rem;
    column-gap: 2rem;
}
.cards{
    border: 1px solid #AB886D;
    border-radius: 15px;
    width: 50vh;
    padding: 2rem;
    background-color: #F2E2B1;
}
.cards .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.3rem;
}
.profile .name-testi{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.name-testi .name{
    font-weight: 400;
}
.name-testi .testi{
    font-weight: 300;
}