/* For smooth scrolling */
* {
	scroll-behavior: smooth;
}

/* Hamburger menu animations */
.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

/* Accordion content animation */
.accordion__content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
	padding: 0 1.5rem;
}
.accordion__content.active {
	max-height: 200px;
	padding: 1.5rem;
}

/* Swiper customization */
.swiper-pagination-bullet {
	background-color: #f8f7f7;
	opacity: 0.5;
}
.swiper-pagination-bullet-active {
	background-color: #f8f7f7;
	opacity: 1;
}