:root {
	--color-primary: #504b38;
	--color-secondary: #b9b28a;
	--color-cream: #f8f3d9;
	--color-white: #f5f0f0;
	--color-black: #000;
	--color-teal: #3d8d7a;
	--radius: 0.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

button {
	cursor: pointer;
	border-radius: var(--radius);
	padding: 0.75rem 1rem;
	box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.25);
	border: 0;
}

/* Navbar */
header {
	position: sticky;
	background-color: var(--color-primary);
	top: 0;
	z-index: 100;
	width: 100%;
}

.navbar__header {
	margin: 0 auto;
	display: flex;
	height: 4rem;
	max-width: 80rem;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.25rem;
}

.logo {
	width: 4.5rem;
}

.navbar {
	display: none;
	align-items: center;
	gap: 2rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
}

.navbar > a {
	text-decoration: none;
	font-size: 1.125rem;
	color: var(--color-white);
}

.navbar > a:hover {
	color: var(--color-secondary);
}

.button__action {
	align-items: center;
}

.button__contact {
	display: none;
	background-color: var(--color-teal);
	text-transform: uppercase;
	font-size: 1.125rem;
	color: var(--color-white);
}

.button__contact:hover {
	background-color: var(--color-secondary);
	color: var(--color-black);
}

.hamburger {
	display: block;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--color-white);
}

.hamburger__menu {
	position: fixed;
	left: -100%;
	top: 4rem;
	flex-direction: column;
	background-color: var(--color-primary);
	width: 100%;
	text-align: center;
	transition: 0.3s;
	box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	padding: 2rem 0;
	z-index: 99;
}

.hamburger__menu.active {
	left: 0;
}

.hamburger__menu a {
	display: block;
	padding: 1.5rem;
	text-decoration: none;
	color: var(--color-white);
	font-size: 1.2rem;
	transition: 0.3s;
}

.hamburger__menu a:hover {
	color: var(--color-secondary);
}

.hamburger.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}
/* End Navbar */

/* FAQ */
.title {
  font-size: 45px;
  text-align: center;
  padding: 30px;
}
.accordion {
  width: 80%;
  margin: 0 auto;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 15px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.accordion-header:hover {
  background: #e9e9e9;
}

.accordion-content {
  display: none;
  padding: 15px;
  background: #fff;
  font-size: 20px;
}
.more {
  text-align: center;
}
p {
  padding: 30px 0 10px 0;
  font-size: 30px;
}
.button {
  background: white;
  color:black;
  font-weight: bold;
  padding: 15px;
  outline-color:
}
.button:hover {
  cursor: pointer;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .accordion {
    width: 100%; /* Use the full width on small screens */
  }
  .accordion-header {
    font-size: 16px; /* Adjust the font size */
    padding: 10px;
  }
  .accordion-content {
    font-size: 14px; /* Adjust font size for content */
  }
}
.accordion-content.active {
  display: block;
}

/* Footer */

footer {
	padding: 2rem 0;
	width: 100%;
	background-color: var(--color-primary);
	color: var(--color-white);
}

.footer__section {
	margin: 0 auto;
}

.footer__content {
	display: grid;
	gap: 2rem;
	margin-bottom: 1rem;
	grid-template-columns: 1fr;
}

.brand__column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact__info {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.contact__info > a {
	font-size: 1rem;
	color: var(--color-white);
	text-decoration: none;
}

.links__column > h1 {
	font-size: 1.5rem;
}

.links__column > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	margin: 0;
}

.links__column > ul > li {
	margin: 0.5rem 0;
}

.links__column > ul > li > a {
	font-size: 1rem;
	color: var(--color-white);
	text-decoration: none;
}

.media__column {
	align-items: end;
}

.media__column > h1 {
	font-size: 1.5rem;
}

.media__column > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	margin: 0;
}

.media__column > ul > li {
	margin: 0.5rem 0;
}

.media__column > ul > li > a {
	font-size: 1rem;
	color: var(--color-white);
	text-decoration: none;
}

.copyright {
	text-align: center;
	margin: 20px 0;
}

/* End Footer */

.container {
	padding: 1rem;
	width: 100%;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}

	.navbar {
		display: flex;
	}

	.button__contact {
		display: flex;
	}

	.hamburger {
		display: none;
	}
}
@media (min-width: 1024px) {
	.container {
		padding: 0;
		max-width: 1024px;
	}

	.footer__content {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
